/* ----------------------------------
// BODY & BG
---------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-smooth: always;
}


#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#overlay {
    background: url(/images/pattern.png);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
}

#bg video {
    @include position(absolute, 0);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


/* ----------------------------------
// CONTENT
---------------------------------- */
.content {
    width: 900px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -450px;
    z-index: 3;
    text-align: center;
    overflow: hidden;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 30px 0;
}

.row {
    clear: both;
    overflow: hidden;
    &.row1 { margin-top: -100px; }
    &.row2 { margin-top: -263px;}
}
.row1 {
    clear: both;
    overflow: hidden;
    margin-top: -100px;
}

.row2 {
    clear: both;
    overflow: hidden;
    margin-top: -263px;
}

/* ----------------------------------
// HEXAGONS
---------------------------------- */
$hexagon-bg: black;
$hexagon-bg: rgba(white, .3);
$hexagon-hover-bg: #999;

.hexagon {
    @include size(150px 400px);
    margin-right: 10px;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
    @include transform(rotate(120deg));
}

%hexagon-in {
    @include size(100%);
    @include transform(rotate(-60deg));    
}

.hexagon-in1 {
    overflow: hidden;
    @extend %hexagon-in;
}

.hexagon-in2 {
    visibility: visible;
    @extend %hexagon-in;
    background: $hexagon-bg;
    @include transition(all, .2s);
    // opacity: 1;
}

.hexagon:hover .hexagon-in2 {
    background: $hexagon-hover-bg;
    opacity: 0.6;

    background:rgba(white, 1);
}

/* ----------------------------------
// Hexagon Fancy Fills
---------------------------------- */

// For the letter blocks
.hexagon-in2 span {
    @include position(relative, 50% 4% 0 0);
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font: bold 80px/0px 'Oleo Script Swash Caps', cursive;
}

$hex-bg-sz: 200px;

%icon, .icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#hex-image1 {
    // opacity: 1;
    background: url(/assets/img/hex1.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}

#hex-image1:hover { 
    // @include transform(translateY(200px));
    // &:after {
    //     content: "";
    //     position: relative;
    //     display: block;
    //     background: url(/images/TACO_Profile-Req.jpg) 50% no-repeat; 
    //     background-size: $hex-bg-sz;
    // }
}
#hex-image2 { 
    background: url(/assets/img/hex2.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}
#hex-image3 { 
    background: url(/assets/img/hex3.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}
#hex-image4 { 
    background: url(/assets/img/hex4.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}
#hex-image5 { 
    background: url(/assets/img/hex5.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}
#hex-image6 { 
    background: url(/assets/img/hex6.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}
#hex-image7 { 
    background: url(/assets/img/hex7.jpg) 50% no-repeat; 
    background-size: $hex-bg-sz;
}




#icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7, div[id^="icon"] { @extend %icon; }

#icon1 { background-image: url(/images/icon1.png);}
#icon2 { background-image: url(/images/icon2.png);}
#icon3 { background-image: url(/images/icon3.png);}
#icon4 { background-image: url(/images/icon4.png);}
#icon5 { background-image: url(/images/icon5.png);}
#icon6 { background-image: url(/images/icon6.png);}
#icon7 { background-image: url(/images/icon7.png);}

